# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnements virtuels
venv/
env/
.venv/
.env/

# Fichiers de logs
*.log

# Données volumineuses / fichiers datasets à ignorer
*.csv
*.xlsx
*.xls
*.h5
*.hdf5
*.zip
*.tar.gz
*.tgz
*.rar

# Fichiers temporaires
*.tmp
*.temp

# IDE et OS
.vscode/
.idea/
.DS_Store
Thumbs.db
